// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

.category-tile {
  width: 47%;
  height: 10em;
  float: left;
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1.5em;
  border: 0.2em solid white;

  &.left-side {
    float: left
  }
  &.right-side {
    float: right;
  }

  .tile-title {
    background: rgba(255, 255, 255, 0.8);
    margin: 1em 5%;
    padding: 0.4em 3%;
    font-weight: bold;
    font-size: 0.9em;
  }
}