// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

.category-tile {
  width: 48%;
  height: 10em;
  float: left;
  background-color: green;
  background-size: 220%;
  background-position: 50%;
  margin-bottom: 1.5em;
  @include box-shadow(5px, 0.4);

  &.left-side {
    margin-right: 4%;
  }

  .tile-title {
    background: rgba(255, 255, 255, 0.8);
    margin: 1em 5%;
    padding: 0.4em 3%;
    font-weight: bold;
    font-size: 0.9em;
  }
}