// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";
$normal-alpha: 0.7;
$hover-alpha: 1;

.category-tile {
  width: 47%;
  height: 10em;
  float: left;
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1.5em;
  border: 0.2em solid rgba(255, 255, 255, $normal-alpha);

  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;
  background-clip: border-box;
  background-origin: border-box;

  &:hover {
    border-color: rgba(255, 255, 255, $hover-alpha);
    .tile-title {
      background: rgba(255, 255, 255, $hover-alpha);
    }
  }

  &.left-side {
    float: left
  }
  &.right-side {
    float: right;
  }

  .tile-title {
    background: rgba(255, 255, 255, $normal-alpha);
    margin: 1em 5%;
    padding: 0.4em 3%;
    font-weight: bold;
    font-size: 0.9em;
  }
}