body {

  $two-column-width: 900px;
  width: 100%;
  height: 100%;
  font-size: 100%;

  @media(min-width:$two-column-width) {

    // dictate layout
    $total-columns: 4;
    $gap-width: 3%;
    $grid-width: 80%;
      $bottom-margin: 2em;

    // computed
    $column-width: (100% + $gap-width) / $total-columns - $gap-width;
    $full-width: 3 * $column-width + 2 * $gap-width;

    .grid-container {
      width: $grid-width;
      margin: 2em auto;
      .nav  {
        width: $column-width;
        height: 100%;
        .toggle-nav {
          display: none;
        }
        .nav-toggled-off, .nav-toggled-on {
          display: block;
        }
      }
      .tile {
        float: left;
        margin-right: $gap-width;
        margin-bottom: $bottom-margin;
        width: $column-width;
        height: 18em;
        position: relative;
        .hover-border {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border: 0em solid white;
          transition: border-width 0.1s linear;
        }
      }
      .bar {
        float: left;
        margin-right: $gap-width;
        margin-bottom: $bottom-margin;
        width: $full-width;
      }
      .mini-bar {
        margin-bottom: $bottom-margin;
      }
      .post-card {
        float: left;
        margin-bottom: $bottom-margin;
        margin-right: $gap-width;
        width: $full-width;
      }
    }
  }
  @media(max-width:$two-column-width) {

    $padding: 2%;
    $margin: 2%;
    $width: 100% - (2*$padding) - (2*$margin);

    $total-columns: 1;
    $gap-width: 0%;
    $grid-width: 90%;
    $bottom-margin: 1em;

    // computed
    $column-width: 100%;
    $full-width: 100%;

    .grid-container {
      width: $grid-width;
      margin: 2em auto;
      .nav  {
        width: $column-width;
        height: 100%;
        .toggle-nav, .nav-toggled-on {
          display: block;
          cursor: pointer;
        }
        .nav-toggled-off {
          display: none;
        }
      }
      .tile {
        float: left;
        margin-right: $gap-width;
        margin-bottom: $bottom-margin;
        width: $column-width;
        height: 18em;
        position: relative;
        .hover-border {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border: 0em solid white;
          transition: border-width 0.1s linear;
        }
      }
      .bar {
        float: left;
        margin-right: $gap-width;
        margin-bottom: $bottom-margin;
        width: $full-width;
      }
      .mini-bar {
        margin-bottom: $bottom-margin;
      }
      .post-card {
        float: left;
        margin-bottom: $bottom-margin;
        margin-right: $gap-width;
        width: $full-width;
      }
    }
    .keyboard-tip {
      display: none;
    }
  }

  .nav  {
    float: right;
  }
  .main {
    float: left;
  }

}