@import "mixins";

body {

  $two-column-width: 900px;
  $font-stack: Verdana, Arial, sans;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: $font-stack;

  @media(min-width:$two-column-width) {

    $main-total-width: 70%;
    $nav-total-width: 22%;
    $gutter-size: (100% - $main-total-width - $nav-total-width) / 3;

    .nav  {
      $nav-padding: 0%;
      width: $nav-total-width - (2 * $nav-padding);
      height: 96%;
      padding: 1em $nav-padding;
      margin: 0 $gutter-size;
    }
    .main {
      $main-padding: 0%;
      padding: 0 $main-padding;
      margin: 1.4em 0;
      width: $main-total-width - 2*$main-padding;
      .main-inner {
        padding: 1.4em 4%;
      }
    }
  }
  @media(max-width:$two-column-width) {

    $padding: 2%;
    $margin: 2%;
    $width: 100% - (2*$padding) - (2*$margin);

    .nav  {
      width: $width;
      padding: 1em $padding;
      margin: 0 $margin;
      height: 96%;
    }
    .main {
      width: $width;
      padding: 1em $padding;
      margin: 0 $margin;
      height: 96%;
    }
  }

  .nav  {
    float: right;

    color: white;
    a {
      text-decoration: none;
    }
    .menu-category {
      padding: 5%;
      color: white;
      &:hover {
        background: rgba(255, 255, 255, 0.5)
      }
    }
    .category-level-0 {
      background: rgba(210, 210, 210, 0.4);
      font-size: 1.1em;
      padding: 0.4em 5%;
      margin-top: 0.4em;
      margin-bottom: 0.1em;
    }
    .category-level-1 {
      font-size: 0.9em;
      padding: 0.2em 8%;
    }

  }
  .main {
    float: right;
    background: #EEE;
    @include box-shadow(7px, 0.7);
  }



}