// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-body {
  overflow: hidden;
  padding: 1.4em 4%;
  .caption {
    // margin: 1em;
    font-style: italic;
  }
}
.post-card {
  img, iframe, object {
    border: none;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  @media(min-width:900px) {
    .left-column {
      float: left;
      width: 50%;
    }
    .right-column {
      float: right;
      width: 50%;
    }
  }
  @media(max-width:900px) {
    .left-column, .right-column {
      width: 100%;
    }
  }
  p, .caption, .image-caption, .published-at, ul {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .image-caption {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0.8em 25%;
    font-style: italic;
    font-size: 0.8em;
  }
  .published-at {
    font-style: italic;
  }
  a {
    color: #ea9c63;
    h1, h2, h3, h4, h5, h6 {
      color: #3d3d4d;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.proximal-buttons {
  width: 100%;
  min-height: 3.5em;
  font-size: 0.8em;
  .previous, .next, .keyboard-tip {
    overflow: hidden;
    min-height: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  $btn-fraction: 38%;
  $padding: 2%;
  .previous, .next {
    width: $btn-fraction - (2 * $padding);
    background: #eee;
    padding-left: $padding;
    padding-right: $padding;
    position: relative;
    &.empty {
      background: none;
      border: none;
    }
    &:hover {
      text-decoration: underline;
    }
    .border-line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #ccc;
    }
  }
  .previous {
    float: left;
    .border-line {
      right: 0;
    }
  }
  .next {
    float: right;
    .border-line {
      left: 0;
    }
  }
  .keyboard-tip {
    width: 100% - (2 * $btn-fraction) - (2 * $padding);
    padding-left: $padding;
    padding-right: $padding;
    float: left;
  }
  .keyboard-tip {
    text-align: center;
  }
}