// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-body {
  overflow: hidden;
  padding: 1.4em 4%;
  .caption {
    // margin: 1em;
    font-style: italic;
  }
}
.display-post {
  img, iframe, object {
    border: none;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  @media(min-width:900px) {
    .left-column {
      float: left;
      width: 50%;
    }
    .right-column {
      float: right;
      width: 50%;
    }
  }
  @media(max-width:900px) {
    .left-column, .right-column {
      width: 100%;
    }
  }
  p, .caption, .image-caption {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .image-caption {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0.8em 25%;
    font-style: italic;
    font-size: 0.8em;
  }
  .caption, .image-caption {
    font-family: Verdana, Arial, sans;
  }
  a {
    color: #068bb8;
  }
}
.proximal-buttons {
  width: 100%;
  min-height: 3.5em;
  font-size: 0.8em;
  .previous, .next, .keyboard-tip {
    overflow: hidden;
    min-height: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    float: left;
    text-align: center;
  }
  $btn-fraction: 38%;
  $padding: 2%;
  .previous, .next {
    width: $btn-fraction - (2 * $padding);
    background: #DDD;
    padding-left: $padding;
    padding-right: $padding;
    &.empty {
      background: none;
    }
    &:hover {
      background: white;
    }
  }
  .keyboard-tip {
    width: 100% - (2 * $btn-fraction) - (2 * $padding);
    padding-left: $padding;
    padding-right: $padding;
  }
  .keyboard-tip {
    text-align: center;
  }
  .next {
    float: right;
  }
}