// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-body {
  overflow: hidden;
  padding: 1.4em 4%;
  .caption {
    // margin: 1em;
    font-style: italic;
  }
}
.display-post {
  img {
    border: none;
    width: 100%;
  }
}