<% 
bg = ""
category.posts.each do |post|
  if post.file_assets.size > 0
    bg = "background-image: url(#{dev_safe_url(post.file_assets.first.content.url)})"
    break
  end
end
if bg.blank?
  bg = "background-color: #{color_from_string(category.name)}" 
end%>
<%= link_to category_path(category) do %>
  <div class="category-tile <%= cycle("left-side", "right-side") %>" style="<%= bg || "" %>">
    <div class="tile-title">
      <%= category.name %>
    </div>
  </div>
<% end %>