<% 
bg = "background-color: #{color_from_string(category.name)}; "
category.posts.each do |post|
  if post.image_assets.size > 0
    bg << "background-image: url(#{dev_safe_url(post.image_assets.first.content.url(:preview))})"
    break
  end
end %>
<%= link_to category_clean_path(category) do %>
  <div class="category-tile <%= cycle("left-side", "right-side") %>" style="<%= bg || "" %>">
    <div class="tile-title">
      <%= category.name %>
    </div>
  </div>
<% end %>