<% 
bg = "background-color: #{color_from_string(post.title)};"
if post.image_assets.size > 0
  bg << "background-image: url(#{dev_safe_url(post.image_assets.first.content.url(:preview))});"
end %>
<%= link_to category_clean_post_path(post.category, post) do %>
  <div class="tile" style="<%= bg %>">
    <div class="tile-title">
      <%= post.title %>
    </div>
    <div class="hover-border"></div>
  </div>
<% end %>