<div class="bar">
  <div class="liner">
    <%= @category.ancestry %>
  </div>
</div>

<%
if @category.is_visual
  partial = "post_category_tile" 
else
  partial = "posts/display_post"
end
%>

<% if @category.posts.size > 0 %>
  <% @category.posts.each do |post| %>
    <%= render partial: partial, locals: {post: post} %>
  <% end %>
<% else %>
  <% @category.children.each do |child_cat| %>
    <% child_cat.posts.each do |post| %>
      <%= render partial: partial, locals: {post: post} %>
    <% end %>
  <% end %>
<% end %>