<div class="main-inner">
  <h1>
    <%= @category.name %>
  </h1>

  <% if @category.posts.size > 0 %>
    <% @category.posts.each do |post| %>
      <%= render partial: "post_category_tile", locals: {post: post} %>
    <% end %>
  <% else %>
    <% @category.children.each do |child_cat| %>
      <%= render partial: "category_category_tile", locals: {category: child_cat} %>
    <% end %>
  <% end %>
</div>